ul.task-list {
    padding: 0 20px;
}

ul.task-list > li {
    cursor: pointer;
    transition: all 0.35s ease-in-out 0s; 
    list-style: none;
    text-align: left;
    padding: 10px 0 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;

}

ul.task-list > li.active {
    color: red;
}

.status {
    margin-left: auto;
    margin-right: 20px;
}